# Homework 6

## Data Clearning and Data Wrangling

Review Chapters [7 Data Cleaning and Preparation](https://wesmckinney.com/book/data-cleaning) and
[8 Data Wrangling: Join, Combine, and Reshape](https://wesmckinney.com/book/data-wrangling) of the [Python book](https://wesmckinney.com/book/).

These exercises make use of the following Python packages:
- [NumPy](https://numpy.org/doc/stable/)
- [pandas](https://pandas.pydata.org/docs/index.html)

The following data sources are used:

|Name|Path on ARC|Original source|
|----|-----------|---------------|
||||
||||

In [ ]:
import pandas as pd

### 6.1 Finding null values
Instructions
1. Please load the olympics dataset which is present in the main data folder.
2. The directory for this csv file is `/data/IFI84010/olympics/athlete_events.csv`
2. Write a function which loads this csv `athlete_events.csv` into a dataframe using `pandas.DataFrame` function and the above directory.
3. Return the missing values in the data frame as a list.

Note: The list your return should be of same length as the number of columns (Check with that). \
       You can use `to_list()` function for this purpose

Save your solution to `solution_6_1.py`

In [ ]:

import pandas as pd

def find_missingvalues():
    # Dont change anything above this comment
    # Write your code here
    df = pd.read_csv('athlete_events.csv')
    return df.isnull().sum().to_list()

In [ ]:
# Try your code
from solution_6_1 import *

find_missingvalues()

#### Test 6.1

In [ ]:
%%writefile test/test_6_1.py
from solution_6_1 import *

def test_6_1():
    result = find_missingvalues()
    assert len(result) == 15, 'The lenght of list provided is incorrect'
    expected_result = [0, 0, 0, 9474, 60171, 62875, 0, 0, 0, 0, 0, 0, 0, 0, 231333]
    assert result == expected_result, 'The output provided is incorrect'

Writing test/test_6_1.py

### 6.2 Filling null values
One method to deal with missing data is to fill them with certain values like 0, mean or median depending on the column type, its importance etc.

Instructions
1. Load the csv `/data/IFI84010/olympics/athlete_events.csv` into a dataframe.
2. Fill the missing values of column `Medal` with 0.
3. Save the dataframe into a new csv file called `athlete_events_6_2.csv` (When saving the dataframce, make sure to set the index to false).
4. Make sure you do not change/overwrite the original file.

Note: The column names are case sensitive. There is no need to create a function for this.

Save your solution to `solution_6_2.py`

In [ ]:
#%%writefile solution_6_2.py

### your code here
df = pd.read_csv('athlete_events.csv')
df.Medal.fillna(0, inplace = True)

df.to_csv('athlete_events_6_2.csv', index = False)

In [ ]:
# Try your code
# from solution_6_2 import *

df_temp = pd.read_csv('athlete_events_6_2.csv')
df_temp.Medal.isnull().sum()

#### Test 6.2

In [ ]:
%%writefile test/test_6_2.py
#from solution_6_2 import *
import pandas as pd

def test_6_2():
    df = pd.read_csv('athlete_events_6_2.csv')
    assert df.Medal.isnull().sum() == 0, 'There are still missing values in that column'

Writing test/test_6_2.py

### 6.3 Filtering out null values
Another method to deal with missing data is to drop those rows or columns which have null values.

Instructions
1. Load the csv `athlete_events.csv` into a dataframe.
2. Filter out (drop) all the columns which have only null values. (In other words you need to set the axis to columns and how as all)
3. At the end of it, you should have 11 columns instead of 15.
3. Save the dataframe into a new csv file called `athlete_events_6_3.csv` (Make sure to set the index to false).
4. Make sure you do not change/overwrite the original file.

Save your solution to `solution_6_3.py`

In [ ]:
# Write your code here
df = pd.read_csv('athlete_events.csv')
df.dropna(axis="columns", inplace=True)

df.to_csv('athlete_events_6_3.csv', index = False)

In [ ]:
# Try your code
df_temp = pd.read_csv('athlete_events_6_3.csv')
df_temp.shape

#### Test 6.3

In [ ]:
%%writefile test/test_6_3.py
import pandas as pd

def test_6_3():
    df = pd.read_csv('athlete_events_6_3.csv')
    assert df.shape == (271116, 11), 'The shape of the new dataframe is incorrect.'

Writing test/test_6_3.py

### 6.4 Getting the number of duplicated rows.

Instructions
1. Create a function to get the number of duplicated rows in a dataset.
2. Load the csv `athlete_events.csv` into a dataframe.
3. Use the duplicated() function to get Boolean Series indicating whether each row is a duplicate or not. Then you can use sum() to get the number of duplicated rows (counts all the True values in the series)
4. Return the number from the function.

Save your solution to `solution_6_4.py`

In [ ]:
%%writefile solution_6_4.py
import pandas as pd

def find_duplicatedrows():
    # Dont change anything above this comment
    # Write your code here
    df = pd.read_csv('athlete_events.csv')
    return df.duplicated().sum()

In [ ]:
# Try your code
from solution_6_4 import find_duplicatedrows
find_duplicatedrows()

#### Test 6.4

In [ ]:
%%writefile test/test_6_4.py
from solution_6_4 import find_duplicatedrows

def test_6_4():
    result = find_duplicatedrows()
    assert result == 1385, 'The output from the function is incorrect'

Writing test/test_6_4.py

### 6.5 Getting statistics

Instructions
1. Write a function where you load the csv `athlete_events.csv` into a dataframe.
2. Return a dictionary where you calculate the mean, median, max, min values of the column `Age`
3. Round the value for mean to 2 decimal points.

Example:
- Output: { 'mean' : , 'median': , 'max': , 'min':  }

Save your solution to `solution_6_5.py`

In [ ]:
%%writefile solution_6_5.py
import pandas as pd

def find_statistics():
    # Dont change anything above this comment
    # Write your code here
    df = pd.read_csv('athlete_events.csv')
    return { 'mean' : round(df.Age.mean(),2), 'median': df.Age.median() , 'max': df.Age.max(), 'min': df.Age.min()}

In [ ]:
# Try your code
from solution_6_5 import *
find_statistics()

#### Test 6.5

In [ ]:
%%writefile test/test_6_5.py
from solution_6_5 import find_statistics

def test_6_5():
    result = find_statistics()
    assert result['mean'] == 25.56, 'Mean is incorrect'
    assert result['median'] == 24.0, 'Median is incorrect'
    assert result['max'] == 97.0, 'Max is incorrect'
    assert result['min'] == 10.0, 'Min is incorrect'

Writing test/test_6_5.py

### 6.6 Discretization and Binning

Instructions
1. Write a function where you load the csv `athlete_events.csv` into a dataframe.
2. Divide the `Age` column using bins. Please use bins with following ages `18, 24, 35, 50, 65, 80, 100`
3. You can use `pandas.cut` function for this.
4. Use `pd.value_counts()` to get a series on the binned age categories to get unique value counts
3. Return the above series as a list.

Save your solution to `solution_6_6.py`

In [ ]:
%%writefile solution_6_6.py

import pandas as pd

def binning():
    # Dont change anything above this comment
    # Write your code here
    df = pd.read_csv('athlete_events.csv')
    bins = [18, 24, 35, 50, 65, 80, 100]
    age_categories = pd.cut(df.Age, bins)
    s = pd.value_counts(age_categories)
    return s.to_list()

In [ ]:
# Try your code
from solution_6_6 import *
binning()

#### Test 6.6

In [ ]:
%%writefile test/test_6_6.py
from solution_6_6 import *

def test_6_6():
    result = binning()
    assert result == [114124, 110474, 14446, 1668, 262, 8] , 'The list is incorrect'

Writing test/test_6_6.py

### 6.7 Filtering or detecting outliers

Instructions
1. Load the csv `athlete_events.csv` into a dataframe.
2. Drop all null values in the column `Age`. (Make sure you use `inplace=True`)
3. Calculate the mean of age.  
4. Select (detect) all the rows with age greater than 3 times mean and save into a new dataframe. (age > 3\*mean)
5. Save the dataframe into a new csv file called `athlete_events_6_7.csv` (Make sure to set the index to false).
6. Make sure you do not change/overwrite the original file.

Save your solution to `solution_6_7.py`

In [ ]:
#%%writefile solution_6_7.py

### your code here
df = pd.read_csv('athlete_events.csv')
df = df.dropna(subset=['Age'])
df.dropna(subset=['Age'], inplace=True)
mean = df.Age.mean()
df1 = df[df.Age > 3*mean]

df1.to_csv('athlete_events_6_7.csv', index = False)

In [ ]:
# Try your code
df_temp = pd.read_csv('athlete_events_6_7.csv')
df_temp.shape

#### Test 6.7

In [ ]:
%%writefile test/test_6_7.py
import pandas as pd

def test_6_7():
    df = pd.read_csv('athlete_events_6_7.csv')
    assert df.shape == (13, 15), 'The shape of the new dataframe is incorrect.'
    assert round(df.Age.mean(), 2) == 84.38, 'The data inside the dataframe is incorrect'

Writing test/test_6_7.py

### 6.8 Get dummies

Instructions
1. Load the csv `athlete_events.csv` into a dataframe.
2. Use `pandas.get_dummies` to get dummy variables for the column `Year`. (Make sure to use prefix as Year and dtype to be int)
3. Save the dataframe into a new csv file called `athlete_events_6_8.csv` (Make sure to set the index to false).
4. Make sure you do not change/overwrite the original file.

In [ ]:
#%%writefile solution_6_8.py

### your code here
df = pd.read_csv('athlete_events.csv')
df1 = pd.get_dummies(df["Year"], prefix="Year", dtype=int)

df1.to_csv('athlete_events_6_8.csv', index = False)

In [ ]:
# Try your code
df_temp = pd.read_csv('athlete_events_6_8.csv')
df_temp.shape

#### Test 6.8

In [ ]:
%%writefile test/test_6_8.py
import pandas as pd

def test_6_8():
    df = pd.read_csv('athlete_events_6_8.csv')
    assert df.shape == (271116, 35), 'The shape of the new dataframe is incorrect.'

Writing test/test_6_8.py

### 6.9 String functions

Instructions
1. Write a function where you load the csv `athlete_events.csv` into a dataframe.
2. Use string function in pandas `contains` to get the number of rows in column `Event` which has `Women` in it and also ` Men` in it.
3. Return the tuple with these two values. (Women, Men)

Note: When you use `contains` it gives you a series of Boolean, with which you can use `sum()` function to get the count.

Save your solution to `solution_6_9.py`

In [ ]:
%%writefile solution_6_9.py
import pandas as pd

def contains():
    # Dont change anything above this comment
    # Write your code here
    df = pd.read_csv('athlete_events.csv')
    return df.Event.str.contains("Women").sum(), df.Event.str.contains("Men").sum()

In [ ]:
# Try your code
from solution_6_9 import *
contains()

#### Test 6.9

In [ ]:
%%writefile test/test_6_9.py
from solution_6_9 import *

def test_6_9():
    result = contains()
    assert result == (71916, 182786) , 'Incorrect count'

Writing test/test_6_9.py

### 6.10 New column creation

Instructions
1. Load the csv `athlete_events.csv` into a dataframe.
2. Create a new column called as `Olympics`, which should have value as `Season Olympics, City`
3. Save the dataframe into a new csv file called athlete_events_6_10.csv (Make sure to set the index to false).
4. Make sure you do not change/overwrite the original file.

Example:
Lets say if the value of Season is `Summer`, and city as `Barcelona`, the value for the new column should be `Summer Olympics, Barcelona`

In [ ]:
df = pd.read_csv('athlete_events.csv')
df['Olympics'] = df.Season + ' Olympics' + ', ' + df.City

df.to_csv('athlete_events_6_10.csv', index = False)

In [ ]:
# Try your code
df_temp = pd.read_csv('athlete_events_6_10.csv')
df_temp.Olympics

#### Test 6.10

In [ ]:
%%writefile test/test_6_10.py
import pandas as pd

def test_6_10():
    df = pd.read_csv('athlete_events_6_10.csv')
    assert df.shape == (271116, 16), 'The shape of the new dataframe is incorrect.'
    assert len(df.Olympics[0].split()) == 3 or len(df.Olympics[0].split()) == 4, 'The new column created has incorrect values'

Writing test/test_6_10.py

### 6.11 Get dummies

Instructions
1. Please load the netflix dataset which is present in the main data folder.
2. The directory for this csv file is `/data/IFI84010/netflix/netflix1.csv`
3. Load the csv `netflix1.csv` into a dataframe.
4. Use `str.get_dummies` to get dummy variables for the column `Listed_in` and save it into a new dataframe. (Make sure to use the correct delimiter with respect to data)
5. Add new column called title to the new dataset which should have data of title column for main dataset.
6. Save the new dataframe into a new csv file called `netflix_6_11.csv` (Make sure to set the index to false).
7. Make sure you do not change/overwrite the original file.

In [ ]:

### your code here
df = pd.read_csv('netflix1.csv')
k = df.listed_in.str.get_dummies(",")
k['title'] = df.title

k.to_csv('netflix_6_11.csv', index = False)

In [ ]:
# Try your code
from solution_6_11 import *
df_temp = pd.read_csv('netflix_6_11.csv')
df_temp.head(2)

#### Test 6.11

In [ ]:
%%writefile test/test_6_11.py
import pandas as pd

def test_6_11():
    df = pd.read_csv('netflix_6_11.csv')
    assert df.shape == (8790, 74), 'The shape of the new dataframe is incorrect.'
    assert df['title'][0] == 'Dick Johnson Is Dead', 'The title column has incorrect first row'

Writing test/test_6_11.py

### 6.12 Find the movie titles

Instructions
1. Write a function where you load the csv `netflix1.csv` into a dataframe.
2. The function should return a list of titles following the below conditions
- It should be of type `movie`, from `Brazil`, release year as `2013` and rating as `PG`.
3. Return the titles as list (you can use to_list() for this)

Save your solution to `solution_6_12.py`

In [ ]:
%%writefile solution_6_12.py
import pandas as pd

def find_movie():
    # Dont change anything above this comment
    # Write your code here
    df = pd.read_csv('netflix1.csv')
    return df[(df.type == 'Movie') & (df.country == 'Brazil') & (df.release_year == 2013) & (df.rating == 'PG')]['title'].to_list()

In [ ]:
# Try your code
from solution_6_12 import *
find_movie()

#### Test 6.12

In [ ]:
%%writefile test/test_6_12.py
from solution_6_12 import *

def test_6_12():
    result = find_movie()
    assert len(result) == 1, 'Incorrect lenght of list'
    assert result[0] == 'Boy and the World' , 'Incorrect answer'

Writing test/test_6_12.py

### 6.13 Find the average of movie duration

Instructions
1. Write a function where you load the csv `netflix1.csv` into a dataframe.
2. Filter all the rows which has `movie` in `type` column and save it into a new dataframe.
3. There is a column called `duration` which has values like `90 min` for example. Create a new column called `duration_mins`. Perform split operation to get only the `90` value to store in this new column. Convert the data type of this column to `int`. (You can use regex patter, or str.split(), str.get() and astype(int).
3. Return the value of mean of `duration_mins` column rounded to two decimal points.

Save your solution to `solution_6_13.py`

In [ ]:
%%writefile solution_6_13.py
import pandas as pd

def find_meanduration():
    # Dont change anything above this comment
    # Write your code here
    df = pd.read_csv('netflix1.csv')
    df_movies = df[df.type == 'Movie']
    df_movies['duration_mins'] = df_movies['duration'].str.split().str.get(0).astype(int)
    return round(df_movies.duration_mins.mean(), 2)

In [ ]:
# Try your code
from solution_6_13 import *
find_meanduration()

#### Test 6.13

In [ ]:
%%writefile test/test_6_13.py
from solution_6_13 import *

def test_6_13():
    result = find_meanduration()
    assert result == 99.58, 'Incorrect value'

Writing test/test_6_13.py

### 6.14 Find the country with most releases

Instructions
1. Write a function where you load the csv `netflix1.csv` into a dataframe.
2. Count the number of rows for each country. You can use `value_counts` for that. After performing this you should have two columns, one is `index` which is country name and other is `country` with counts.
3. Sort the values of `country` in descending order.
4. Return a tuple of the first row with first value being country name having highest number. So, it would be first index and next country. You can use `.iloc` for this.

Example for output: ('United States', 3240)

Save your solution to `solution_6_14.py`

In [ ]:
%%writefile solution_6_14.py
import pandas as pd

def find_mostcountry():
    # Dont change anything above this comment
    # Write your code here
    df = pd.read_csv('netflix1.csv')
    result = df['country'].value_counts().reset_index()
    result = result.sort_values(by='country', ascending=False)
    return result.iloc[0,0], result.iloc[0,1]

In [ ]:
# Try your code
from solution_6_14 import *
find_mostcountry()

#### Test 6.14

In [ ]:
%%writefile test/test_6_14.py
from solution_6_14 import *

def test_6_14():
    result = find_mostcountry()
    assert result == ('United States', 3240), 'Incorrect values'

Writing test/test_6_14.py

### 6.15 Join Tables
Instructions
Write a function "join_dataframes" where you:
1. Load the following three csv files as dataframes: churn_data.csv, customer_data.csv and internet_data.csv
2. Join the three tables and store the result in a dataframe
3. Return the newly created dataframe
3. Find the shape of the resulting dataframe and store it in df_shape

Save your solution to `solution_6_15.py`

In [ ]:
%%writefile solution_6_15.py
### your code here

import pandas as pd
def join_dataframes():
  df_churn=pd.read_csv("/data/IFI8410/churn_data.csv")
  df_customer=pd.read_csv("/data/IFI8410/customer_data.csv")
  df_internet=pd.read_csv("/data/IFI8410/internet_data.csv")

  merged_data = pd.merge(df_churn, df_customer, on='customerID', how='inner')
  merged_data = pd.merge(merged_data, df_internet, on='customerID', how='inner')
  return merged_data

Overwriting solution_6_15.py

In [ ]:
# Try your code
from solution_6_15 import *
join_dataframes()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Female,...,Yes,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No,Male,...,No,No,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Male,...,No,No,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,Male,...,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Female,...,No,No,No,Fiber optic,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7037,2569-WGERO,72,Yes,Two year,Yes,Bank transfer (automatic),21.15,1419.4,No,Female,...,No,No,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
7038,6840-RESVB,24,Yes,One year,Yes,Mailed check,84.80,1990.5,No,Male,...,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes
7039,2234-XADUH,72,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No,Female,...,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes
7040,4801-JZAZL,11,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,Female,...,Yes,Yes,No phone service,DSL,Yes,No,No,No,No,No
7041,8361-LTMKD,4,Yes,Month-to-month,Yes,Mailed check,74.40,306.6,Yes,Male,...,Yes,No,Yes,Fiber optic,No,No,No,No,No,No

#### Test 6.15

In [ ]:
%%writefile test/test_6_15.py
from solution_6_15 import *

def test_6_15():
    result = join_dataframes()
    assert result.shape == (7042, 21), 'Incorrect resulting shape'

Overwriting test/test_6_15.py

### 6.16 Calculate average monthly charges using pivot table
Instructions
Write a function calculate_avgcharges() where you:

1. Create a pivot table using the merged DataFrame from the previous excercise. Set 'gender' as index, 'InternetService' as columns, and 'MonthlyCharges' as values. Calculate the mean MonthlyCharges for each combination.
2. Store the resulting dataframe and return it

Save your solution to `solution_6_16.py`

In [ ]:
%%writefile solution_6_16.py
### your code here
from solution_6_15 import *
import pandas as pd

def calculate_avgcharges():
  merged_data = join_dataframes()
  pivot_table1 = pd.pivot_table(merged_data, values='MonthlyCharges', index='gender', columns='InternetService', aggfunc='mean')
  return pivot_table1

Overwriting solution_6_16.py

In [ ]:
# Try your code
from solution_6_16 import *
calculate_avgcharges()

InternetService        DSL  Fiber optic         No
gender
Female           58.590741    91.472569  21.110710
Male             57.631427    91.518709  21.048973

#### Test 6.16

In [ ]:
%%writefile test/test_6_16.py
from solution_6_16 import *
import pandas as pd

def test_6_16():
    df_churn=pd.read_csv("/data/IFI8410/churn_data.csv")
    df_customer=pd.read_csv("/data/IFI8410/customer_data.csv")
    df_internet=pd.read_csv("/data/IFI8410/internet_data.csv")

    merged_data = pd.merge(df_churn, df_customer, on='customerID', how='inner')
    merged_data = pd.merge(merged_data, df_internet, on='customerID', how='inner')
    expected_result = pd.pivot_table(merged_data, values='MonthlyCharges', index='gender', columns='InternetService', aggfunc='mean')
    result = calculate_avgcharges()
    assert result.equals(expected_result), "Incorrect result"

Overwriting test/test_6_16.py

### 6.17 Calculate average monthly charges using group by
Instructions
Create a function calculate_monthlycharges() where you:
1. Group the merged DataFrame resulting from problem 6.15 by 'InternetService'
2. calculate the average 'MonthlyCharges' for each group.

Save your solution to `solution_6_17.py`

In [ ]:
%%writefile solution_6_17.py
from solution_6_15 import *

### your code here
def calculate_monthlycharges():
  merged_data = join_dataframes()
  grouped_data1 = merged_data.groupby('InternetService')['MonthlyCharges'].mean()
  return grouped_data1

Overwriting solution_6_17.py

In [ ]:
# Try your code
from solution_6_17 import *
calculate_monthlycharges()

InternetService
DSL            58.102169
Fiber optic    91.495557
No             21.079194
Name: MonthlyCharges, dtype: float64

#### Test 6.17

In [ ]:
%%writefile test/test_6_17.py
from solution_6_17 import *
import pandas as pd

def test_6_17():
    df_churn=pd.read_csv("/data/IFI8410/churn_data.csv")
    df_customer=pd.read_csv("/data/IFI8410/customer_data.csv")
    df_internet=pd.read_csv("/data/IFI8410/internet_data.csv")

    merged_data = pd.merge(df_churn, df_customer, on='customerID', how='inner')
    merged_data = pd.merge(merged_data, df_internet, on='customerID', how='inner')

    result = calculate_monthlycharges()
    assert result.equals(merged_data.groupby('InternetService')['MonthlyCharges'].mean()), "Incorrect result"

Overwriting test/test_6_17.py

### 6.18 Create new feature
Instructions
Write a function create_ChargeRatio() where you:
1. Using the merged dataframe resulting from problem 6.15, create a new column in the merged DataFrame that represents the ratio of 'TotalCharges' to 'MonthlyCharges' and name it 'ChargeRatio'.
2. Replace any missing values in the 'ChargeRatio' column with the mean of the column.
3. Return the new dataframe

Save your solution to `solution_6_18.py`

In [ ]:
%%writefile solution_6_18.py
from solution_6_15 import *
import pandas as pd

### your code here
def create_ChargeRatio():
  merged_data = join_dataframes()
  merged_data['TotalCharges'] = pd.to_numeric(merged_data['TotalCharges'], errors='coerce')
  merged_data['ChargeRatio'] = merged_data['TotalCharges'] / merged_data['MonthlyCharges']
  mean_ratio = merged_data['ChargeRatio'].mean()
  merged_data['ChargeRatio'].fillna(mean_ratio, inplace=True)
  return merged_data

Overwriting solution_6_18.py

In [ ]:
# Try your code
from solution_6_18 import *

create_ChargeRatio()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,ChargeRatio
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Female,...,No,No phone service,DSL,No,Yes,No,No,No,No,1.000000
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.50,No,Male,...,No,No,DSL,Yes,No,Yes,No,No,No,33.178227
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Male,...,No,No,DSL,Yes,Yes,No,No,No,No,2.008357
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,Male,...,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,43.516548
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Female,...,No,No,Fiber optic,No,No,No,No,No,No,2.144979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7037,2569-WGERO,72,Yes,Two year,Yes,Bank transfer (automatic),21.15,1419.40,No,Female,...,No,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,67.111111
7038,6840-RESVB,24,Yes,One year,Yes,Mailed check,84.80,1990.50,No,Male,...,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,23.472877
7039,2234-XADUH,72,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No,Female,...,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,71.345930
7040,4801-JZAZL,11,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,Female,...,Yes,No phone service,DSL,Yes,No,No,No,No,No,11.704392
7041,8361-LTMKD,4,Yes,Month-to-month,Yes,Mailed check,74.40,306.60,Yes,Male,...,No,Yes,Fiber optic,No,No,No,No,No,No,4.120968

#### Test 6.18

In [ ]:
%%writefile test/test_6_18.py
from solution_6_18 import *
import pandas as pd

def test_6_18():
    df_churn=pd.read_csv("/data/IFI8410/churn_data.csv")
    df_customer=pd.read_csv("/data/IFI8410/customer_data.csv")
    df_internet=pd.read_csv("/data/IFI8410/internet_data.csv")

    merged_data = pd.merge(df_churn, df_customer, on='customerID', how='inner')
    merged_data = pd.merge(merged_data, df_internet, on='customerID', how='inner')
    merged_data['TotalCharges'] = pd.to_numeric(merged_data['TotalCharges'], errors='coerce')
    merged_data['ChargeRatio'] = merged_data['TotalCharges'] / merged_data['MonthlyCharges']
    mean_ratio = merged_data['ChargeRatio'].mean()
    merged_data['ChargeRatio'].fillna(mean_ratio, inplace=True)
    result = create_ChargeRatio()
    assert result.equals(merged_data), "Incorrect result"

Overwriting test/test_6_18.py

### 6.19 Melt dataframe
Instructions
Write a function melt_data() where you:
1. Melt the merged DataFrame resulting from problem 6.15 by keeping 'customerID' as the ID variable and all other columns as value variables.
2. Stack the melted DataFrame to create a multi-level indexed Series.
3. Return the stacked melted dataframe

Save your solution to `solution_6_19.py`

In [ ]:
%%writefile solution_6_19.py
### your code here
from solution_6_15 import *

def melt_data():
  merged_data = join_dataframes()
  grouped_data = merged_data.groupby('Contract').agg({'MonthlyCharges': ["mean", "median"] })
  return grouped_data

Overwriting solution_6_19.py

In [ ]:
# Try your code
from solution_6_19 import *
melt_data()

               MonthlyCharges
                         mean median
Contract
Month-to-month      66.398490  73.25
One year            65.048608  68.75
Two year            60.743920  64.30

#### Test 6.19

In [ ]:
%%writefile test/test_6_19.py
from solution_6_19 import *
import pandas as pd

def test_6_19():
    df_churn=pd.read_csv("/data/IFI8410/churn_data.csv")
    df_customer=pd.read_csv("/data/IFI8410/customer_data.csv")
    df_internet=pd.read_csv("/data/IFI8410/internet_data.csv")

    merged_data = pd.merge(df_churn, df_customer, on='customerID', how='inner')
    merged_data = pd.merge(merged_data, df_internet, on='customerID', how='inner')

    result = melt_data()
    assert result.equals(merged_data.groupby('Contract').agg({'MonthlyCharges': ["mean", "median"] })), "Incorrect result"

Overwriting test/test_6_19.py

### 6.20 Grouping and Aggregating
Instructions
Write a function calculate_charges() where you:
1. Group the merged_data DataFrame resulting form problem 6.15 by both 'Contract' and 'Churn'.
2. Calculate the average 'MonthlyCharges' and the median 'TotalCharges' for each combination of 'Contract' and 'Churn'.
3. Return the new dataframe

Save your solution to `solution_6_20.py`

In [ ]:
%%writefile solution_6_20.py
from solution_6_15 import *
import pandas as pd

### your code here
def calculate_charges():
  merged_data = join_dataframes()
  merged_data['TotalCharges'] = pd.to_numeric(merged_data['TotalCharges'], errors='coerce')
  grouped_data = merged_data.groupby(['Contract', 'Churn']).agg({'MonthlyCharges': 'mean', 'TotalCharges': 'median'})
  return grouped_data

Overwriting solution_6_20.py

In [ ]:
# Try your code
from solution_6_20 import *
calculate_charges()

                      MonthlyCharges  TotalCharges
Contract       Churn
Month-to-month No          61.462635       830.525
               Yes         73.019396       514.000
One year       No          62.508148      2477.300
               Yes         85.050904      4098.525
Two year       No          59.984751      3524.825
               Yes         86.777083      5874.250

#### Test 6.20

In [ ]:
%%writefile test/test_6_20.py
from solution_6_20 import *
import pandas as pd

def test_6_20():
    df_churn=pd.read_csv("/data/IFI8410/churn_data.csv")
    df_customer=pd.read_csv("/data/IFI8410/customer_data.csv")
    df_internet=pd.read_csv("/data/IFI8410/internet_data.csv")

    merged_data = pd.merge(df_churn, df_customer, on='customerID', how='inner')
    merged_data = pd.merge(merged_data, df_internet, on='customerID', how='inner')
    merged_data['TotalCharges'] = pd.to_numeric(merged_data['TotalCharges'], errors='coerce')

    result = calculate_charges()
    assert result.equals(merged_data.groupby(['Contract', 'Churn']).agg({'MonthlyCharges': 'mean', 'TotalCharges': 'median'})), "Incorrect result"

Overwriting test/test_6_20.py

### 6.21 Calculate percentage  of customers per payment method
Instructions

Write a function payment_percentage() where you:
1. For every payment method, find the percentage of the total customers that are using that method (use the merged dataframe resulting from problem 6.15)
2. Store you result as a dataframe and return it

Save your solution to `solution_6_21.py`

In [ ]:
%%writefile solution_6_21.py
from solution_6_15 import *
import pandas as pd

### your code here
def payment_percentage():
  merged_data = join_dataframes()
  payment_method_counts = merged_data['PaymentMethod'].value_counts()
  total_customers = len(merged_data)
  percentage_customers = (payment_method_counts / total_customers) * 100
  result_df = pd.DataFrame({'PaymentMethod': percentage_customers.index, 'PercentageOfCustomers': percentage_customers.values})
  return result_df

Overwriting solution_6_21.py

In [ ]:
# Try your code
from solution_6_21 import *

payment_percentage()

               PaymentMethod  PercentageOfCustomers
0           Electronic check              33.584209
1               Mailed check              22.891224
2  Bank transfer (automatic)              21.911389
3    Credit card (automatic)              21.613178

#### Test 6.21

In [ ]:
%%writefile test/test_6_21.py
from solution_6_21 import *
import pandas as pd

def test_6_21():
    df_churn=pd.read_csv("/data/IFI8410/churn_data.csv")
    df_customer=pd.read_csv("/data/IFI8410/customer_data.csv")
    df_internet=pd.read_csv("/data/IFI8410/internet_data.csv")

    merged_data = pd.merge(df_churn, df_customer, on='customerID', how='inner')
    merged_data = pd.merge(merged_data, df_internet, on='customerID', how='inner')

    payment_method_counts = merged_data['PaymentMethod'].value_counts()
    total_customers = len(merged_data)
    percentage_customers = (payment_method_counts / total_customers) * 100
    result_df = pd.DataFrame({'PaymentMethod': percentage_customers.index, 'PercentageOfCustomers': percentage_customers.values})

    result = payment_percentage()
    assert result.equals(result_df), "Result is incorrect"

Overwriting test/test_6_21.py

### 6.22 Calculate customer percentage for churn per payment method
Instructions

Write a function percentage_churn() where you:

1. For every PaymentMethod find the precentage  of the total customers that churn or don't churn (using the merged resulting dataframe from problem 6.15)
2. Return a dataframe with 3 Columns [PaymentMethod,No,Yes ] which values are the payment method name, the precentage of the customers that don't churn and the percentange of the customers that churn

Save your solution to `solution_6_22.py`

In [ ]:
%%writefile solution_6_22.py
from solution_6_15 import *

### your code here
def percentage_churn():
    merged_data = join_dataframes()
    grouped_data = merged_data.groupby(['PaymentMethod', 'Churn']).size().unstack(fill_value=0)
    total_customers = len(merged_data)
    percentage_customers = (grouped_data / total_customers) * 100
    pivot_table = percentage_customers.reset_index()
    pivot_table = pivot_table.rename_axis(None, axis=1)
    return pivot_table

Overwriting solution_6_22.py

In [ ]:
# Try your code
from solution_6_22 import *

percentage_churn()

               PaymentMethod         No        Yes
0  Bank transfer (automatic)  18.247657   3.663732
1    Credit card (automatic)  18.318659   3.294519
2           Electronic check  18.375462  15.208748
3               Mailed check  18.517467   4.373757

#### Test 6.22

In [ ]:
%%writefile test/test_6_22.py
from solution_6_22 import *
import pandas as pd

def test_6_22():
    df_churn=pd.read_csv("/data/IFI8410/churn_data.csv")
    df_customer=pd.read_csv("/data/IFI8410/customer_data.csv")
    df_internet=pd.read_csv("/data/IFI8410/internet_data.csv")

    merged_data = pd.merge(df_churn, df_customer, on='customerID', how='inner')
    merged_data = pd.merge(merged_data, df_internet, on='customerID', how='inner')

    result = percentage_churn()
    percentage_customers = ((merged_data.groupby(['PaymentMethod', 'Churn']).size().unstack(fill_value=0)) / (len(merged_data))) * 100
    pivot_table = percentage_customers.reset_index().rename_axis(None, axis=1)
    assert result.equals(pivot_table), "Reuslt is incorrect"

Overwriting test/test_6_22.py

### 6.23 Find monthly sales
Instructions

Write a function get_monthlysales() where you:
1. Load the sales.csv file as dataframe
2. Convert the Order Date column to a datetime object (hint: use pd.to_datetime())
3. Set 'Order Date' as the index and resample by month, summing the 'Sales' values
4. Sort the result by date in ascending order (hint: use sort_index())
3. Return the first five rows

Save your solution to `solution_6_23.py`

In [ ]:
%%writefile solution_6_23.py
import pandas as pd

### your code here
def get_monthlysales():
    sales=pd.read_csv("/data/IFI8410/sales.csv")
    sales["Order Date"] = pd.to_datetime(sales["Order Date"])
    monthly_sales = sales.set_index('Order Date')['Sales'].resample('M').sum()
    monthly_sales_sorted = monthly_sales.sort_index()

    return monthly_sales_sorted.head(5)

Overwriting solution_6_23.py

In [ ]:
# Try your code
from solution_6_23 import *

get_monthlysales()

/content/solution_6_23.py:6: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  sales["Order Date"] = pd.to_datetime(sales["Order Date"])

Order Date
2015-01-31    28828.254
2015-02-28    12588.484
2015-03-31    54027.692
2015-04-30    24710.016
2015-05-31    29520.490
Freq: M, Name: Sales, dtype: float64

#### Test 6.23

In [ ]:
%%writefile test/test_6_23.py
from solution_6_23 import *
import pandas as pd

def test_6_23():
    result = get_monthlysales()
    sales=pd.read_csv("/data/IFI8410/sales.csv")
    sales["Order Date"] = pd.to_datetime(sales["Order Date"])
    monthly_sales = sales.set_index('Order Date')['Sales'].resample('M').sum().sort_index()

    assert result.equals(monthly_sales.head(5)), "Incorrect result"

Overwriting test/test_6_23.py

### 6.24 Calculate total sales per region and category
Instructions

Write a function calculate_totalsales() where you:
1. Load the sales.csv file as dataframe
2. Group the data so that for every region, you calculate the total sales per category
2. Store the result as a dataframe and return it

Save your solution to `solution_6_24.py`

In [ ]:
%%writefile solution_6_24.py
import pandas as pd

### your code here
def calculate_totalsales():
  sales=pd.read_csv("/data/IFI8410/sales.csv")
  grouped_data = sales.groupby(['Region', 'Category'])['Sales'].sum()
  return grouped_data

Overwriting solution_6_24.py

In [ ]:
# Try your code
from solution_6_24 import *

calculate_totalsales()

Region   Category
Central  Furniture          160317.4622
         Office Supplies    163590.2430
         Technology         168739.2080
East     Furniture          206461.3880
         Office Supplies    199940.8110
         Technology         263116.5270
South    Furniture          116531.4800
         Office Supplies    124424.7710
         Technology         148195.2080
West     Furniture          245348.2455
         Office Supplies    217466.5090
         Technology         247404.9300
Name: Sales, dtype: float64

#### Test 6.24

In [ ]:
%%writefile test/test_6_24.py
from solution_6_24 import *
import pandas as pd

def test_6_24():
    result = calculate_totalsales()
    sales=pd.read_csv("/data/IFI8410/sales.csv")
    grouped_data = sales.groupby(['Region', 'Category'])['Sales'].sum()
    assert result.equals(grouped_data), "Incorrect result"

Overwriting test/test_6_24.py

### 6.25 Quarterly frequency of customers
Instructions

Write a function count_quarterlyCustomer() where you:
1. Load the sales.csv file as dataframe
2. Convert the Order Date column to a datetime object (hint: use pd.to_datetime())
3. Find the number of customers per quarter by:

    *   setting the 'Order Date' as the index
    *   resampling by quarter ('Q')
    *   counting the number of unique customers for each quarter
4. Sort the result by date in ascending order (hint: use sort_index())
5. Return the first 5 rows of the result

Save your solution to `solution_6_25.py`

In [ ]:
%%writefile solution_6_25.py
import pandas as pd

### your code here
def count_quarterlyCustomer():
    sales=pd.read_csv("/data/IFI8410/sales.csv")
    sales["Order Date"] = pd.to_datetime(sales["Order Date"])
    quarterly_customer_count = sales.set_index('Order Date').resample('Q')['Customer ID'].nunique()
    quarterly_customer_count = quarterly_customer_count.sort_index()
    return quarterly_customer_count.head(5)

Overwriting solution_6_25.py

In [ ]:
# Try your code
from solution_6_25 import *
count_quarterlyCustomer()

/content/solution_6_25.py:6: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  sales["Order Date"] = pd.to_datetime(sales["Order Date"])

Order Date
2015-03-31    163
2015-06-30    190
2015-09-30    214
2015-12-31    264
2016-03-31    158
Freq: Q-DEC, Name: Customer ID, dtype: int64

#### Test 6.25

In [ ]:
%%writefile test/test_6_25.py
from solution_6_25 import *
import pandas as pd

def test_6_25():
    result = count_quarterlyCustomer()
    sales=pd.read_csv("/data/IFI8410/sales.csv")
    sales["Order Date"] = pd.to_datetime(sales["Order Date"])
    quarterly_customer_count = sales.set_index('Order Date').resample('Q')['Customer ID'].nunique()
    quarterly_customer_count = quarterly_customer_count.sort_index()
    assert result.equals(quarterly_customer_count.head(5)), "Incorrect result"

Overwriting test/test_6_25.py

# Testing

In [ ]:
%%sh
python3 -m pytest

======================================= test session starts ========================================
platform linux -- Python 3.10.12, pytest-7.4.2, pluggy-1.3.0
rootdir: /content
plugins: anyio-3.7.1
collected 11 items

test/test_6_15.py .                                                                          [  9%]
test/test_6_16.py .                                                                          [ 18%]
test/test_6_17.py .                                                                          [ 27%]
test/test_6_18.py .                                                                          [ 36%]
test/test_6_19.py .                                                                          [ 45%]
test/test_6_20.py .                                                                          [ 54%]
test/test_6_21.py .                                                                          [ 63%]
test/test_6_22.py .                                                                          [ 72%]
test/test_6_23.py .                                                                          [ 81%]
test/test_6_24.py .                                                                          [ 90%]
test/test_6_25.py .                                                                          [100%]

========================================= warnings summary =========================================
test/test_6_23.py::test_6_23
  /content/solution_6_23.py:6: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
    sales["Order Date"] = pd.to_datetime(sales["Order Date"])

test/test_6_23.py::test_6_23
  /content/test/test_6_23.py:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
    sales["Order Date"] = pd.to_datetime(sales["Order Date"])

test/test_6_25.py::test_6_25
  /content/solution_6_25.py:6: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
    sales["Order Date"] = pd.to_datetime(sales["Order Date"])

test/test_6_25.py::test_6_25
  /content/test/test_6_25.py:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
    sales["Order Date"] = pd.to_datetime(sales["Order Date"])

-- Docs: https://docs.pytest.org/en/stable/how-to/capture-warnings.html
================================== 11 passed, 4 warnings in 1.80s ==================================

# Homework Submission
- This homework is due by 2023-11-15, 5:30PM (EDT)
- Make sure that all your programs and output files are in the exact folder as specified in the instructions.
- All file names on this system are case sensitive. Verify if you copy your work from a local computer to your home directory on ARC.
- No further action is need to submit your assignment.