In [ ]:
%reload_ext autoreload
%autoreload 2

# Homework 6

## Data Clearning and Data Wrangling

Review Chapters [7 Data Cleaning and Preparation](https://wesmckinney.com/book/data-cleaning) and
[8 Data Wrangling: Join, Combine, and Reshape](https://wesmckinney.com/book/data-wrangling) of the [Python book](https://wesmckinney.com/book/).

These exercises make use of the following Python packages:
- [NumPy](https://numpy.org/doc/stable/)
- [pandas](https://pandas.pydata.org/docs/index.html)

The following data sources are used:

1. `olympics/athlete_events.csv`: https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-res
ults/
2. `netflix/netflix1.csv`: https://www.kaggle.com/datasets/ariyoomotade/netflix-data-cleaning-analysis-and-visualization
3. `churn_data.csv`, `customer_data.csv` & `internet_data.csv`: https://www.kaggle.com/code/manishpuraswani/telecom-data
-lr/input
Questions 23-25:
4.  `sales.csv`: https://www.kaggle.com/datasets/rohitsahoo/sales-forecasting

In [ ]:
import pandas as pd
! mkdir -p test

### 6.1 Finding null values
Instructions
1. Please load the olympics dataset which is present in the main data folder.
2. The directory for this csv file is `/data/IFI8410/olympics/athlete_events.csv`
2. Write a function which loads this csv `athlete_events.csv` into a dataframe using `pandas.DataFrame` function and the above directory.
3. Return the missing values in the data frame as a list.

Note: The list your return should be of same length as the number of columns (Check with that). \
       You can use `to_list()` function for this purpose

Save your solution to `solution_6_1.py`

In [ ]:

import pandas as pd

def find_missingvalues():
    # Dont change anything above this comment
    # Write your code here

In [ ]:
%%writefile solution_6_1.py
import pandas as pd

def find_missingvalues():
    # Dont change anything above this comment
    # Write your code here

In [ ]:
# Try your code
from solution_6_1 import *

find_missingvalues()

### 6.2 Filling null values
One method to deal with missing data is to fill them with certain values like 0, mean or median depending on the column type, its importance etc.

Instructions
1. Load the csv `/data/IFI8410/olympics/athlete_events.csv` into a dataframe.
2. Fill the missing values of column `Medal` with 0.
3. Save the dataframe into a new csv file called `athlete_events_6_2.csv` (When saving the dataframce, make sure to set the index to false).
4. Make sure you do not change/overwrite the original file.

Note: The column names are case sensitive. There is no need to create a function for this.

Save your solution to `solution_6_2.py`

In [ ]:
%%writefile solution_6_2.py
import pandas as pd
### your code here

In [ ]:
# Try your code
import pandas as pd
from solution_6_2 import *

### 6.3 Filtering out null values
Another method to deal with missing data is to drop those rows or columns which have null values.

Instructions
1. Load the csv `/data/IFI8410/olympics/athlete_events.csv` into a dataframe.
2. Filter out (drop) all the columns which have any null values. (In other words you need to set the axis to columns)
3. At the end of it, you should have 11 columns instead of 15.
3. Save the dataframe into a new csv file called `athlete_events_6_3.csv` (Make sure to set the index to false).
4. Make sure you do not change/overwrite the original file.

Save your solution to `solution_6_3.py`

In [ ]:
# Write your code here

In [ ]:
# Try your code
df_temp = pd.read_csv('athlete_events_6_3.csv')
df_temp.shape

### 6.4 Getting the number of duplicated rows.

Instructions
1. Create a function to get the number of duplicated rows in a dataset.
2. Load the csv `athlete_events.csv` into a dataframe.
3. Use the duplicated() function to get Boolean Series indicating whether each row is a duplicate or not. Then you can use sum() to get the number of duplicated rows (counts all the True values in the series)
4. Return the number from the function.

Save your solution to `solution_6_4.py`

In [ ]:
%%writefile solution_6_4.py
import pandas as pd

def find_duplicatedrows():
    # Dont change anything above this comment
    # Write your code here

In [ ]:
# Try your code
from solution_6_4 import find_duplicatedrows
find_duplicatedrows()

### 6.5 Getting statistics

Instructions
1. Write a function where you load the csv `/data/IFI8410/olympics/athlete_events.csv` into a dataframe.
2. Return a dictionary where you calculate the mean, median, max, min values of the column `Age`
3. Round the value for mean to 2 decimal points.

Example:
- Output: { 'mean' : , 'median': , 'max': , 'min':  }

Save your solution to `solution_6_5.py`

In [ ]:
%%writefile solution_6_5.py
import pandas as pd

def find_statistics():
    # Dont change anything above this comment
    # Write your code here

In [ ]:
# Try your code
from solution_6_5 import *
find_statistics()

### 6.6 Discretization and Binning

Instructions
1. Write a function where you load the csv `/data/IFI8410/olympics/athlete_events.csv` into a dataframe.
2. Divide the `Age` column using bins. Please use bins with following ages `18, 24, 35, 50, 65, 80, 100`
3. You can use `pandas.cut` function for this.
4. Use `pd.value_counts()` to get a series on the binned age categories to get unique value counts
3. Return the above series as a list.

Save your solution to `solution_6_6.py`

In [ ]:
%%writefile solution_6_6.py

import pandas as pd

def binning():
    # Dont change anything above this comment
    # Write your code here

In [ ]:
# Try your code
from solution_6_6 import *
binning()

### 6.7 Filtering or detecting outliers

Instructions
1. Load the csv `athlete_events.csv` into a dataframe.
2. Drop all null values in the column `Age`. (Make sure you use `inplace=True`)
3. Calculate the mean of age.  
4. Select (detect) all the rows with age greater than 3 times mean and save into a new dataframe. (age > 3\*mean)
5. Save the dataframe into a new csv file called `athlete_events_6_7.csv` (Make sure to set the index to false).
6. Make sure you do not change/overwrite the original file.

Save your solution to `solution_6_7.py`

In [ ]:
#%%writefile solution_6_7.py

### your code here

In [ ]:
# Try your code
df_temp = pd.read_csv('athlete_events_6_7.csv')
df_temp.shape

### 6.8 Get dummies

Instructions
1. Load the csv `/data/IFI8410/olympics/athlete_events.csv` into a dataframe.
2. Use `pandas.get_dummies` to get dummy variables for the column `Year`. (Make sure to use prefix as Year and dtype to be int)
3. Save the dataframe into a new csv file called `athlete_events_6_8.csv` (Make sure to set the index to false).
4. Make sure you do not change/overwrite the original file.

In [ ]:
#%%writefile solution_6_8.py

### your code here

In [ ]:
# Try your code
df_temp = pd.read_csv('athlete_events_6_8.csv')
df_temp.shape

### 6.9 String functions

Instructions
1. Write a function where you load the csv `/data/IFI8410/olympics/athlete_events.csv` into a dataframe.
2. Use string function in pandas `contains` to get the number of rows in column `Event` which has `Women` in it and also ` Men` in it.
3. Return the tuple with these two values. (Women, Men)

Note: When you use `contains` it gives you a series of Boolean, with which you can use `sum()` function to get the count.

Save your solution to `solution_6_9.py`

In [ ]:
%%writefile solution_6_9.py
import pandas as pd

def contains():
    # Dont change anything above this comment
    # Write your code here

In [ ]:
# Try your code
from solution_6_9 import *
contains()

### 6.10 New column creation

Instructions
1. Load the csv `/data/IFI8410/olympics/athlete_events.csv` into a dataframe.
2. Create a new column called as `Olympics`, which should have value as `Season Olympics, City`
3. Save the dataframe into a new csv file called athlete_events_6_10.csv (Make sure to set the index to false).
4. Make sure you do not change/overwrite the original file.

Example:
Lets say if the value of Season is `Summer`, and city as `Barcelona`, the value for the new column should be `Summer Olympics, Barcelona`

In [ ]:
# Try your code
df_temp = pd.read_csv('athlete_events_6_10.csv')
df_temp.Olympics

### 6.11 Get dummies

Instructions
1. Please load the netflix dataset which is present in the main data folder.
2. The directory for this csv file is `/data/IFI8410/netflix/netflix1.csv`
3. Load the csv `netflix1.csv` into a dataframe.
4. Use `str.get_dummies` to get dummy variables for the column `Listed_in` and save it into a new dataframe. (Make sure to use the correct delimiter with respect to data)
5. Add new column called title to the new dataset which should have data of title column for main dataset.
6. Save the new dataframe into a new csv file called `netflix_6_11.csv` (Make sure to set the index to false).
7. Make sure you do not change/overwrite the original file.

In [ ]:

### your code here

In [ ]:
# Try your code
df_temp = pd.read_csv('netflix_6_11.csv')
df_temp.head(2)

### 6.12 Find the movie titles

Instructions
1. Write a function where you load the csv `/data/IFI8410/netflix/netflix1.csv` into a dataframe.
2. The function should return a list of titles following the below conditions
- It should be of type `movie`, from `Brazil`, release year as `2013` and rating as `PG`.
3. Return the titles as list (you can use to_list() for this)

Save your solution to `solution_6_12.py`

In [ ]:
%%writefile solution_6_12.py
import pandas as pd

def find_movie():
    # Dont change anything above this comment
    # Write your code here

In [ ]:
# Try your code
from solution_6_12 import *
find_movie()

### 6.13 Find the average of movie duration

Instructions
1. Write a function where you load the csv `/data/IFI8410/netflix/netflix1.csv` into a dataframe.
2. Filter all the rows which has `movie` in `type` column and save it into a new dataframe.
3. There is a column called `duration` which has values like `90 min` for example. Create a new series `duration_mins` with just the numeric value of the duration (in minutes). Perform split operation to get only the `90` value to store in this new column. Convert the data type of this column to `int`. (You can use regex patter, or str.split(), str.get() and astype(int).
3. Return the value of **mean** of `duration_mins` series **rounded to two decimal points**.

Save your solution to `solution_6_13.py`

In [ ]:
%%writefile solution_6_13.py
import pandas as pd

def find_meanduration():
    # Dont change anything above this comment
    # Write your code here

In [ ]:
# Try your code
from solution_6_13 import *
find_meanduration()

### 6.14 Find the country with most releases

Instructions
1. Write a function where you load the csv `/data/IFI8410/netflix//netflix1.csv` into a dataframe.
2. Count the number of rows for each country. You can use `value_counts` for that. After performing this you should have two columns, one is `index` which is country name and other is `country` with counts.
3. Sort the values of `country` in descending order.
4. Return a tuple of the first row with first value being country name having highest number. So, it would be first index and next country. You can use `.iloc` for this.

Example for output: ('United States', 3240)

Save your solution to `solution_6_14.py`

In [ ]:
%%writefile solution_6_14.py
import pandas as pd

def find_mostcountry():
    # Dont change anything above this comment
    # Write your code here

In [ ]:
# Try your code
from solution_6_14 import *
find_mostcountry()

### 6.15 Join Tables
Instructions
Write a function "join_dataframes" where you:
1. Load the following three csv files as dataframes: `/data/IFI8410/churn_data.csv`, `/data/IFI8410/customer_data.csv` and `/data/IFI8410/internet_data.csv`
2. Join the three tables and store the result in a dataframe
3. Return the newly created dataframe
3. Find the shape of the resulting dataframe and store it in df_shape

Save your solution to `solution_6_15.py`

In [ ]:
%%writefile solution_6_15.py
### your code here

In [ ]:
# Try your code
from solution_6_15 import *
join_dataframes()

### 6.16 Calculate average monthly charges using pivot table
Instructions

Write a function `calculate_avgcharges()` where you:

1. Create a pivot table using the merged DataFrame from the previous excercise. Set 'gender' as index, 'InternetService' as columns, and 'MonthlyCharges' as values. Calculate the mean MonthlyCharges for each combination.
2. Store the resulting dataframe and return it

Save your solution to `solution_6_16.py`

In [ ]:
%%writefile solution_6_16.py
### your code here
from solution_6_15 import *
import pandas as pd

In [ ]:
# Try your code
from solution_6_16 import *
calculate_avgcharges()

### 6.17 Calculate average monthly charges using group by
Instructions
Create a function `calculate_monthlycharges()` where you:
1. Group the merged DataFrame resulting from problem 6.15 by 'InternetService'
2. calculate the average 'MonthlyCharges' for each group.

Save your solution to `solution_6_17.py`

In [ ]:
%%writefile solution_6_17.py
from solution_6_15 import *

### your code here

In [ ]:
# Try your code
from solution_6_17 import *
calculate_monthlycharges()

### 6.18 Create new feature
Instructions
Write a function `create_ChargeRatio()` where you:
1. Using the merged dataframe resulting from problem 6.15, create a new column in the merged DataFrame that represents the ratio of 'TotalCharges' to 'MonthlyCharges' and name it 'ChargeRatio'.
2. Replace any missing values in the 'ChargeRatio' column with the mean of the column.
3. Return the new dataframe

Save your solution to `solution_6_18.py`

In [ ]:
%%writefile solution_6_18.py
from solution_6_15 import *
import pandas as pd

### your code here

In [ ]:
# Try your code
from solution_6_18 import *

create_ChargeRatio()

### 6.19 Melt dataframe
Instructions
Write a function `melt_data()` where you:
1. Melt the merged DataFrame resulting from problem 6.15 by keeping 'customerID' as the ID variable and all other columns as value variables.
2. Stack the melted DataFrame to create a multi-level indexed Series.
3. Return the stacked melted dataframe

Save your solution to `solution_6_19.py`

In [ ]:
%%writefile solution_6_19.py
### your code here
from solution_6_15 import *

In [ ]:
# Try your code
from solution_6_19 import *
melt_data()

### 6.20 Grouping and Aggregating
Instructions
Write a function `calculate_charges()` where you:
1. Group the merged_data DataFrame resulting form problem 6.15 by both 'Contract' and 'Churn'.
2. Calculate the average 'MonthlyCharges' and the median 'TotalCharges' for each combination of 'Contract' and 'Churn'.
3. Return the new dataframe

Save your solution to `solution_6_20.py`

In [ ]:
%%writefile solution_6_20.py
from solution_6_15 import *
import pandas as pd

### your code here

In [ ]:
# Try your code
from solution_6_20 import *
calculate_charges()

### 6.21 Calculate percentage  of customers per payment method
Instructions

Write a function `payment_percentage()` where you:
1. For every payment method, find the percentage of the total customers that are using that method (use the merged dataframe resulting from problem 6.15)
2. Store you result as a dataframe and return it

Save your solution to `solution_6_21.py`

In [ ]:
%%writefile solution_6_21.py
from solution_6_15 import *
import pandas as pd

### your code here

In [ ]:
# Try your code
from solution_6_21 import *

payment_percentage()

### 6.22 Calculate customer percentage for churn per payment method
Instructions

Write a function `percentage_churn()` where you:

1. For every PaymentMethod find the precentage  of the total customers that churn or don't churn (using the merged resulting dataframe from problem 6.15)
2. Return a dataframe with 3 Columns [PaymentMethod,No,Yes ] which values are the payment method name, the precentage of the customers that don't churn and the percentange of the customers that churn

Save your solution to `solution_6_22.py`

In [ ]:
%%writefile solution_6_22.py
from solution_6_15 import *

### your code here

In [ ]:
# Try your code
from solution_6_22 import *

percentage_churn()

### 6.23 Find monthly sales
Instructions

Write a function `get_monthlysales()` where you:
1. Load the `/data/IFI8410/sales.csv` file as dataframe
2. Convert the Order Date column to a datetime object. (Hint: the dates in this file are in the format DAY/MONTH/YEAR; use `pd.to_datetime()` with the optional argument `dayfirst=True`)
3. Set 'Order Date' as the index and resample by month, summing the 'Sales' values
4. Sort the result by date in ascending order (hint: use `sort_index()`)
3. Return the first five rows

Save your solution to `solution_6_23.py`

In [ ]:
%%writefile solution_6_23.py
import pandas as pd

### your code here

In [ ]:
# Try your code
from solution_6_23 import *

get_monthlysales()

### 6.24 Calculate total sales per region and category
Instructions

Write a function `calculate_totalsales()` where you:
1. Load the sales.csv file as dataframe
2. Group the data so that for every region, you calculate the total sales per category
2. Store the result as a dataframe and return it

Save your solution to `solution_6_24.py`

In [ ]:
%%writefile solution_6_24.py
import pandas as pd

### your code here

In [ ]:
# Try your code
from solution_6_24 import *

calculate_totalsales()

### 6.25 Quarterly frequency of customers
Instructions

Write a function `count_quarterlyCustomer()` where you:
1. Load the sales.csv file as dataframe
2. Convert the Order Date column to a datetime object (hint: use pd.to_datetime())
3. Find the number of customers per quarter by:

    *   setting the 'Order Date' as the index
    *   resampling by quarter ('Q')
    *   counting the number of unique customers for each quarter
4. Sort the result by date in ascending order (hint: use sort_index())
5. Return the first 5 rows of the result

Save your solution to `solution_6_25.py`

In [ ]:
%%writefile solution_6_25.py
import pandas as pd

### your code here

In [ ]:
# Try your code
from solution_6_25 import *
count_quarterlyCustomer()

# Testing

Execute the cell below to run self-tests on your solutions.

In [ ]:
! ./test/run_test.sh

# Homework Submission
- This homework is due by 2023-11-15, 5:30PM (EDT)
- Make sure that all your programs and output files are in the exact folder as specified in the instructions.
- All file names on this system are case sensitive. Verify if you copy your work from a local computer to your home directory on ARC.
- No further action is need to submit your assignment.