

# **IFI8410: Programming for Business**

## **Assignment 03**

### **Data Structures and Sequences**

In [ ]:
# Do not change the content of this cell. Execute this cell first, and everytime after you restarted the kernel.
%reload_ext autoreload
%autoreload 2

In [ ]:
!pwd

### 3.1. Tuples with Slicing

Question:
Given a tuple **numbers = (10, 20, 30, 40, 50)**, slice the tuple to return the middle three elements.

Hint:

- Use slicing syntax with tuple indexing to extract the middle elements.

- Slicing follows the format **tuple[start:end]**.

In [ ]:
def get_middle_elements(numbers):
    # Add your code here

In [ ]:
# Call the function and print the result
numbers = (10, 20, 30, 40, 50)
print(get_middle_elements(numbers))

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_1.py

def get_middle_elements(numbers):
    # Add your code here

#### Test 3.1 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 1

### 3.2. Tuples with Unpacking

Question:
Given a tuple **person = ("John", 28, "Engineer")**, unpack the tuple into three separate variables: **name**, **age**, and **profession**.

Hint:

- Unpacking assigns each element in the tuple to a variable.

- Ensure the number of variables matches the number of elements in the tuple.

In [ ]:
def unpack_person(person):
    # Add your code here

In [ ]:
# Call the function and print the result
person = ("John", 28, "Engineer")
print(unpack_person(person))

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_2.py

def unpack_person(person):
    # Add your code here

#### Test 3.2 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 2

### 3.3 Apply the .append() Method to a List

Question:

Given the list **fruits = ["apple", "banana", "orange"]**, append "grape" to the list using the **.append()** method.

Hint:

- The **.append()** method adds an element to the end of the list.

In [ ]:
def append_to_list(fruits, item):
    # Add your code here

In [ ]:
# Call the function and print the result
fruits = ["apple", "banana", "orange"]
print(append_to_list(fruits, "grape"))

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_3.py

def append_to_list(fruits, item):
    # Add your code here

#### Test 3.3 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 3

### 3.4. Sort a List in Place with the .sort() Method Based on the Length of Each Element

Question:

You are given a list of words **words = ["apple", "banana", "kiwi", "blueberry", "fig"]**.

Sort the list in place based on the length of each element using the .sort() method.

Hint:

- The **.sort()** method can take a key parameter, which allows sorting by a custom function (in this case, the length of each word).

In [ ]:
def sort_by_length(words):
    # Add your code here

In [ ]:
# Call the function and print the result
words = ["apple", "banana", "kiwi", "blueberry", "fig"]
print(sort_by_length(words))

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_4.py

def sort_by_length(words):
    # Add your code here

Test 3.4 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 4

### 3.5. Create a Dictionary from Two Sequences

Question:

You are given two sequences: **keys = ("name", "age", "job")** (a tuple) and **values = ["Alice", 30, "Doctor"]** (a list). Convert the list to a tuple, then use the zip() method to create a dictionary where keys correspond to the values.

Hint:

- Convert the list values to a tuple before using **zip()**.

- The **zip()** function combines two sequences element by element.

In [ ]:
def create_dict_from_sequences(keys, values):
    # Add your code here

In [ ]:
# Call the function and print the result
keys = ("name", "age", "job")
values = ["Alice", 30, "Doctor"]
print(create_dict_from_sequences(keys, values))

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_5.py

def create_dict_from_sequences(keys, values):
    # Add your code here

#### Test 3.5 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 5

### 3.6. Remove a (key, value) Pair in a Dictionary with the del() Method

Question:

Given the dictionary **person = {"name": "John", "age": 28, "job": "Engineer"}**, remove the age key-value pair from the dictionary using the del() method.

Hint:

- Use the syntax del dict[key] to remove a key-value pair from a dictionary.

In [ ]:
def remove_key(person, key_to_remove):
    # Add your code here

In [ ]:
# Call the function and print the result
person = {"name": "John", "age": 28, "job": "Engineer"}
print(remove_key(person, "age"))

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_6.py

def remove_key(person, key_to_remove):
    # Add your code here

#### Test 3.6 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 6

### 3.7. Nested List Comprehension

Question:

You are given a list of lists **all_data = [["Sara", "Anna"], ["Bob", "Alexandra"], ["David", "Amanda"]]**. 

Use a nested list comprehension to create a list of all names containing the letter **a** or **A**
at least twice.

Hint:

- Use a nested list comprehension with a condition inside the loop to check for names containing two or more as.
- You can use the **.lower()** method to remove capitalization (create all lower case letters).

In [ ]:
def filter_names_with_a(all_data):
    # Add your code here

In [ ]:
# Call the function and print the result
all_data = [["Sara", "Anna"], ["Bob", "Alexandra"], ["David", "Amanda"]]
print(filter_names_with_a(all_data))

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_7.py

def filter_names_with_a(all_data):
    # Add your code here

#### Test 3.7 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 7

### 3.8. Dictionary Comprehension Using enumerate() Method

Question:

Given the list strings = ["apple", "banana", "orange"], use dictionary comprehension and the enumerate() method to create a dictionary that maps each string to its index.

Hint:

- The enumerate() method provides both the index and the value when looping over a sequence.

- Use dictionary comprehension in the form {value: index for index, value in enumerate(sequence)}.

In [ ]:
def map_strings_to_indices(strings):
    # Add your code here

In [ ]:
# Call the function and print the result
strings = ["apple", "banana", "orange"]
print(map_strings_to_indices(strings))

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_8.py

def map_strings_to_indices(strings):
    # Add your code here

#### Test 3.8 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 8

### 3.9 Simple Function

Question:

Create a function called **person_details** that takes two parameters, name and age, and returns three values: the name, the age, and the age squared. Demonstrate how to return multiple values from a function using a single return line.

Hint:

- You can return several values from a function at once by listing them with commas in the return statement, like return value1, value2, value3, which will return the values as a tuple.

In [ ]:
def person_details(name, age):
    # Add your code here

In [ ]:
#Example usage
name, age, age_squared = person_details("Alice", 30)
print(f"Name: {name}, Age: {age}, Age Squared: {age_squared}")

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_9.py

def person_details(name, age):
    # Add your code here

#### Test 3.9 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 9

### 3.10 Functions as objects

Question:

Create a function named **apply_operations** that takes a list of strings and a list of functions as parameters. 

The function **apply_operations** should apply each function to every string in the list sequentially and return a list of modified strings. 

Use built-in string functions like **str.lower** and **str.capitalize** along with one custom function to remove all numeric characters (you can call that custom function **remove_numeric**).

Hint :

- To apply multiple functions to each string, loop through each string and inside that loop, loop through the list of functions. Apply each function in sequence using **value = func(value)**.

- Include both built-in string methods and custom functions in your operations list.

In [ ]:
import re

def remove_numeric(value):
    # Add your code here
    


# List of operations to be applied
ops = [str.lower, remove_numeric, str.capitalize]

# Function to apply operations to each string in the list
def apply_operations(strings, ops):
    #Add your code here

In [ ]:
# Example usage
sample_strings = ["Hello123", "World!456"]
modified_strings = apply_operations(sample_strings, ops)
print(modified_strings)

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_10.py

import re

def remove_numeric(value):
    # Add your code here
    


# List of operations to be applied
ops = [str.lower, remove_numeric, str.capitalize]

# Function to apply operations to each string in the list
def apply_operations(strings, ops):
    #Add your code here

\#### Test 3.10 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 10

### 3.11 lambda functions

Question:

Write a Python script using a lambda function to check if a given number is even. Assign this lambda function to a variable called is_even, and use it to evaluate a number.

Hint:

Lambda functions allow for quick definitions of small functions. You can use the modulo operator % to check if a number is even. Define the lambda function with the logic x % 2 == 0 to determine evenness.

In [ ]:
# Add your code below
is_even =

In [ ]:
# Example usage
print(is_even(10))  # Should return True

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_11.py

# Add your code below
is_even =

#### Test 3.11 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 11

### 3.12 Generators

Question:
Create a Python generator function called fibonacci that yields the sequence of Fibonacci numbers indefinitely.

Hint:

A generator function can produce a sequence over time rather than all at once. For the Fibonacci sequence, start with two numbers, 0 and 1. Use a loop inside the generator to continuously produce the next Fibonacci number by summing the two most recent numbers.

In [ ]:
def fibonacci(n):
    # Add your code here


        yield a

In [ ]:
# Example usage to get the first 10 Fibonacci numbers
fibonacci(10)

In [ ]:
list(fibonacci(10))

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_12.py

def fibonacci(n):
    # Add your code here


        yield a

#### Test 3.12 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 12

### 3.13 Files and the Operating System

Question:

Write a Python script to count the number of lines in a text file named simple_text.txt.

Hint:

Open the file in read mode and use a loop to count how many lines are in the file. Each iteration of the loop represents one line.

In [ ]:
def line_count(path):
    # Add your code here

In [ ]:
# Example usage
path = 'input_3.13.txt' #Simple_text.txt
lines = line_count(path)
print(f"There are {lines} lines in the file.")

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_13.py

def line_count(path):
    # Add your code here

#### Test 3.13 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 13

### 3.14 Read From and Write To a File with Line Count

Write a Python script that opens an existing text file called input.txt and writes all lines that contain more than one character to a new file called output.txt.

Hint:
Use a file context manager to open the source file and the destination file. Inside the context manager, employ a generator expression to filter and directly write lines that are longer than one character from input.txt to output.txt.

In [ ]:
def filter_lines(input_path, output_path):
    # Add your code here

In [ ]:
# Example usage
# Confirm that the content has been written to the output file
input_path = 'input_3.14.txt'
output_path = 'output_3.14.txt'
filter_lines(input_path, output_path)

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_14.py

def filter_lines(input_path, output_path):
    # Add your code here

#### Test 3.14 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 14

### 3.15 Get Minimum and Maximum from a List of Numbers

Question:

Create a function named get_min_max that accepts a list of numbers and returns both the minimum and maximum values from that list.

Hint :
You can return multiple values from a function by separating them with commas in the return statement. Use Python's built-in min() and max() functions to directly obtain these values.

In [ ]:
def get_min_max(numbers_list):
    # Add your code here

In [ ]:
# Example usage
numbers_list = [4, 11, 42, 3, 56, 28]
min_value, max_value = get_min_max(numbers_list)
print(f"Minimum: {min_value}, Maximum: {max_value}")

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_15.py

def get_min_max(numbers_list):
    # Add your code here

#### Test 3.15 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 15

### 3.16 Get a list of books from an author
A library has a list of books and their authors. Write a function that takes this list of dicts as input and returns a new list of books written by a given author.

Example:
- Input:
    ```
        books = [
            {"name": "The Lord of the Rings", "author": "J.R.R. Tolkien"},
            {"name": "The Hitchhiker's Guide to the Galaxy", "author": "Douglas Adams"}
        ]
    ```
- Output: ["The Lord of the Rings"] (if author chosen as "J.R.R. Tolkien")

In [ ]:
from typing import Dict, List

def get_books_by_author(books: Dict, author: str) -> List:
    ### your code here

#### Save your solution to a file ...

In [ ]:
%%writefile solution_3_16.py

from typing import Dict, List

def get_books_by_author(books: Dict, author: str) -> List:
    ### your code here

In [ ]:
# Try your code
from solution_3_16 import get_books_by_author

books = [
    {"name": "The Lord of the Rings", "author": "J.R.R. Tolkien"},
    {"name": "The Hitchhiker's Guide to the Galaxy", "author": "Douglas Adams"}
]

display(
    get_books_by_author(books, 'Douglas Adams')
)

#### Test 3.16 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 16

### 3.17 Calculate the grocery shop bill

1. Create a function to calculate the grocery shop bill.
2. A grocery store has a list (list of dicts. each dict for each product) of products and their prices.
3. There is another list for the quantities of each product that is bought
4. Write a function that takes these two list and returns the total cost of the bill..

Example:
- Input:
    price = products = [
        {"name": "Apple", "price": 1.50},
        {"name": "Banana", "price": 0.50}
        ]
    quantity = quantities= [
        {"name": "Apple", "quantit": 3},
        {"name": "Banana", "quantit": 6}
        ]
- Output: ```Bill = 3 times 1.5 + 0.5 times 6 = 7.5```

In [ ]:
from typing import List, Dict

def get_total_grocery_bill(products: Dict, quantities: Dict) -> float:
    # Write your code here. Take care of indentation

#### Save your solution to a file ..

In [ ]:
%%writefile solution_3_17.py

from typing import List, Dict

def get_total_grocery_bill(products: Dict, quantities: Dict) -> float:
    # Write your code here. Take care of indentation

In [ ]:
# Try your code
from solution_3_17 import get_total_grocery_bill

products = [
  {"name": "Apple", "price": 1.50},
  {"name": "Banana", "price": 0.50}
]

quantity = quantities= [
  {"name": "Apple", "quantit": 3},
  {"name": "Banana", "quantit": 6}
]

amount = get_total_grocery_bill(products, quantities)
print(f"Your grocery bill is: ${amount:.2f}")

#### Test 3.17 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 17

### 3.18 Matrix Row and Column Operations
1. Create a function **swap_rows_and_columns** that takes a matrix (NumPy array) and two integers i and j as input.
2. The function should swap the i-th row and j-th row of the matrix and also swap the i-th column and j-th column.
3. Return the modified matrix.

In [ ]:
import numpy as np

def swap_rows_and_columns(matrix: np.ndarray, i: int, j: int) -> np.ndarray:
    ### your code here


    return matrix

#### Save your solution to a file ..

In [ ]:
%%writefile solution_3_18.py

import numpy as np

def swap_rows_and_columns(matrix: np.ndarray, i: int, j: int) -> np.ndarray:
    ### your code here


    return matrix

In [ ]:
# Try your code
import numpy as np

from solution_3_18 import swap_rows_and_columns

matrix = np.array([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]])

res = swap_rows_and_columns(matrix, 1, 2)
print(res)

#### Test 3.18 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 18

### 3.19 Matrix Concatenation

1. Create a  function `concatenate_matrices` that takes two matrices (NumPy arrays) as input
2. The function should concatenate them horizontally if they have the same number of rows or vertically if they have the same number of columns.
3. Return the modified matrix.
4. If concatenation is not possible, return the following message: "Concatenation not possible: Dimensions do not match."

In [ ]:
import numpy as np

def concatenate_matrices(matrix1: np.ndarray, matrix2: np.ndarray) -> np.ndarray:
    ### your code here

#### Save your solution to a file ..

In [ ]:
%%writefile solution_3_19.py

import numpy as np

def concatenate_matrices(matrix1: np.ndarray, matrix2: np.ndarray) -> np.ndarray:
    ### your code here

In [ ]:
# Try your code
from pprint import pprint
from solution_3_19 import concatenate_matrices

matrix1 = np.array([[5, 6],
                    [7, 8]])

matrix2 = np.array([[9, 10, 11],
                  [12, 13, 14]])

matrix3 = concatenate_matrices(matrix1, matrix2)
pprint(matrix3)

#### Test 3.19 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 19

### 3.20 Scale Matrix Row

1. Write a function **scale_row** that takes a matrix (NumPy array) ,  an integer i and an integer scalar as input.
2. The function should check if the specified row index (i) is within the valid range
3. If i is valid, the function should scale the i-th row of the matrix by a given scalar value and return the modified matrix.
4. If the row i is not valid, print "Row not valid."

In [ ]:
import numpy as np

def scale_row(matrix: np.ndarray, i: int, scalar: int):
    ### your code here

#### Save your solution to a file ..

In [ ]:
%%writefile solution_3_20.py

import numpy as np

def scale_row(matrix: np.ndarray, i: int, scalar: int):
    ### your code here

In [ ]:
# Try your code
import numpy as np
from pprint import pprint
from solution_3_20 import scale_row

matrix = np.array([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]])

scaled_matrix = scale_row(matrix, 1, 3)
pprint(scaled_matrix)

#### Test 3.20 Execute the cell below to test your solution...

In [ ]:
! test/run_test.sh 20

## Run All Tests One More Time ...

In [ ]:
! test/run_test.sh

# Homework Submission

- This homework is due by January 31, 2004, 5:30PM (EDT)
- Make sure that all your programs and output files are in the exact folder as specified in the instructions.
- All file names on this system are case sensitive. Verify if you copy your work from a local computer to your home directory on ARC.

**Run the cell below to submit your work.**

- You may submit your work multipe times up to the deadline of the assignment.
- Please note that any files that you previously submitted will
be overwritten by your current files.
! ./submit.sh -y

In [ ]:
! ./submit.sh -y